@import 'tailwindcss' important;
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";

@theme {
	--font-mono: 'Ubuntu Mono', monospace;
}

:root {
	--neon-color: #00ce00;
	--text-color: #00ff00;
	--pagefind-ui-text: var(--text-color);
	--pagefind-ui-background: #000;
	--pagefind-ui-border: var(--neon-color);
	--pagefind-ui-font: var(--font-mono);
	--pagefind-ui-tag: var(--neon-color);
}

.pagefind-ui__search-input:focus {
	@apply outline-none;
	--pagefind-ui-border: var(--text-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	/* width: 10px; */
	display: none;
}

body {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

/* ::-webkit-scrollbar-thumb {
	background-color: var(--neon-color);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--text-color);
}

::-webkit-scrollbar-track {
	background-color: #000;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
.prose ul,
.prose ol,
.prose code{
	color: var(--text-color) !important;
}

// change list icon color
ul li::marker {
	color: var(--neon-color) !important;
}

a {
	color: var(--text-color);
	@apply no-underline;
}

a:hover {
	@apply underline;
}

/* apply glow effect to text */
@utility text-glow {
	text-shadow:
		0 0 10px var(--neon-color),
		0 0 20px var(--neon-color),
		0 0 30px var(--neon-color),
		0 0 40px var(--neon-color),
		0 0 70px var(--neon-color),
		0 0 80px var(--neon-color),
		0 0 100px var(--neon-color),
		0 0 150px var(--neon-color);
	/* force rendering to be offloaded to the GPU */
	will-change: transform;
}

@utility no-glow {
	text-shadow: none;
}
