@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--neon-color: #00ce00;
	--text-color: #00ff00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@apply bg-black font-mono;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--neon-color);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--text-color);
}

::-webkit-scrollbar-track {
	background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose ul,
.prose ol,
.prose code {
	color: var(--text-color);
}

// change list icon color
ul li::marker {
	color: var(--neon-color) !important;
}

a {
	color: var(--text-color);
	@apply glow no-underline;
}

a:hover {
	@apply underline;
}

// apply glow effect to text
.glow {
	text-shadow:
		0 0 10px var(--neon-color),
		0 0 20px var(--neon-color),
		0 0 30px var(--neon-color),
		0 0 40px var(--neon-color),
		0 0 70px var(--neon-color),
		0 0 80px var(--neon-color),
		0 0 100px var(--neon-color),
		0 0 150px var(--neon-color);
}

.no-glow {
	text-shadow: none;
}

@layer base {
	.text-glow {
		@apply glow;
	}
}
