---
import Footer from '@components/Footer.astro';
import { Navbar } from '@components/Navbar';
import { ScrollToTopBtn } from '@components/ScrollToTop';
import { ClientRouter } from 'astro:transitions';

import 'aos/dist/aos.css';
import '@fontsource/ubuntu-mono';
import '@styles/globals.scss';

const { title, description } = Astro.props;

const titleFmt = title ? `${title} | HCI EC³` : 'HCI EC³';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/x-icon' href='/favicon.ico' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta name='generator' content={Astro.generator} />
		<meta
			name='description'
			content={description ?? "HCI EC³'s official website"}
		/>
		<title>{titleFmt}</title>
		<ClientRouter />
		<script>
			import AOS from 'aos';

			document.addEventListener('astro:page-load', () => {
				AOS.init({
					duration: 1000,
				});
			});
		</script>
	</head>
	<body>
		<Navbar client:only='react' transition:animate='none' transition:persist />
		<div transition:animate={'slide'}>
			<slot />
		</div>
		{
			Astro.url.pathname !== '/' && (
				<div>
					<Footer />
					<ScrollToTopBtn client:load />
				</div>
			)
		}
	</body>
</html>
