---
import BaseLayout from '@components/layouts/BaseLayout.astro';

import excoList from '@assets/exco.json' with { type: 'json' };
/*
{
	"year": int,
	"incumbent?": bool,
	"chairman": string,
	"viceChair": string,
	"trainingHead": string,
	"viceTrainingHead": string
}[]
*/
---

<BaseLayout title='About'>
	<div class='w-4/5 md:w-3/5 xl:w-5/12 mx-auto mt-36'>
		<h1 class='glow text-4xl text-center font-bold'>About Us</h1>
		<p class='mt-5 text-md text-justify indent-8'>
			EC&sup3; stands for the Electronics Communications and Computing Club
			(quite a mouthful, yes I know) and is a CCA in Hwa Chong Institution. It
			serves as the High School counterpart of the Infocomm and Robotics Society
			(IRS) in the College section, comprising of around 30 members from
			Secondary 1 to 4. The club is dedicated to nurturing students' interest in
			infocomm and computing, offering a platform where members can really get
			their circuits buzzing and connections sparking. Whether you're into
			exploring new hardware or soft-<i>ware</i>—pun intended—there's always
			room for hands-on activities that will push your buttons.
		</p>
		<p class='mt-5 text-md text-justify indent-8'>
			EC&sup3; is a proudly (mostly*) student-run CCA, with the Executive
			Committee (ExCo) being responsible for the planning and execution of
			different activities, evemts and training sessions. The ExCo is elected
			annually by the members of the club, and is made up of students from the
			Secondary 3 batch after the outgoing ExCo (Sec 4s) has completed their
			term.
		</p>
		<p class='mt-5 text-sm italic'>
			*We do have a teacher-in-charge, but we promise<sup>&dagger;</sup> he's cool.
			<br />
			<sup>&dagger;</sup>Terms and conditions apply.
		</p>

		<h2 class='glow text-3xl mt-10 text-center'>CCA Timings</h2>
		<div class='grid grid-cols-1 md:grid-cols-2 gap-4 mt-5 text-center'>
			<div>
				<h3 class='glow text-2xl'>Wednesday</h3>
				<p class='text-lg'>3:30pm - 5:30pm</p>
			</div>
			<div>
				<h3 class='glow text-2xl'>Friday</h3>
				<p class='text-lg'>2:30pm - 5:30pm</p>
			</div>
		</div>

		<h2 class='glow text-3xl mt-10 text-center'>Executive Committee</h2>
		<div class='mt-5'>
			{
				excoList.map((exco) => (
					<div class='mt-10'>
						<h3 class='glow text-2xl text-center'>
							{exco?.incumbent ? 'Incumbent' : exco.year}
						</h3>
						<div class='grid grid-cols-1 md:grid-cols-2 gap-4 mt-5 text-center'>
							<div>
								<h4 class='glow text-xl'>Chairman</h4>
								<p class='text-lg'>{exco.chairman}</p>
							</div>
							<div>
								<h4 class='glow text-xl'>Vice Chairman</h4>
								<p class='text-lg'>{exco.viceChair}</p>
							</div>
							<div>
								<h4 class='glow text-xl'>Training Head</h4>
								<p class='text-lg'>{exco.trainingHead}</p>
							</div>
							<div>
								<h4 class='glow text-xl'>Vice Training Head</h4>
								<p class='text-lg'>{exco.viceTrainingHead}</p>
							</div>
						</div>
					</div>
				))
			}
		</div>
	</div>
</BaseLayout>
