---
import BaseLayout from '@components/layouts/BaseLayout.astro';

import excoList from '@assets/exco.json' with { type: 'json' };
/*
{
	"year": int,
	"incumbent?": bool,
	"chairman": string,
	"viceChair": string,
	"trainingHead": string,
	"viceTrainingHead": string
}[]
*/
---

<BaseLayout title='About'>
	<div class='w-4/5 md:w-3/5 xl:w-1/2 mx-auto mt-10'>
		<h1 class='glow text-4xl mt-36 text-center'>About Us</h1>
		<p class='mt-5 text-md text-justify indent-8'>
			HCI EC&sup3; stands for the Electronics Communications and Computing Club
			(quite a mouthful, yes I know) and is a CCA in Hwa Chong Institution. It
			serves as the High School counterpart of the Infocomm and Robotics Society
			(IRS) in the College section, comprising of around 30 members from
			Secondary 1 to 4. The club is dedicated to nurturing students' interest in
			infocomm and computing, and provides a platform for members to explore
			their interests in these areas.
		</p>

		<h2 class='glow text-3xl mt-10 text-center'>CCA Timings</h2>
		<div class='grid grid-cols-1 md:grid-cols-2 gap-4 mt-5 text-center'>
			<div>
				<h3 class='glow text-2xl'>Wednesday</h3>
				<p class='text-lg'>3:30pm - 5:30pm</p>
			</div>
			<div>
				<h3 class='glow text-2xl'>Friday</h3>
				<p class='text-lg'>2:30pm - 5:30pm</p>
			</div>
		</div>

		<h2 class='glow text-3xl mt-10 text-center'>Executive Committee</h2>
		<div class='mt-5'>
			{
				excoList.map((exco) => (
					<div class='mt-10'>
						<h3 class='glow text-2xl text-center'>
							{exco?.incumbent ? 'Incumbent' : exco.year}
						</h3>
						<div class='grid grid-cols-1 md:grid-cols-2 gap-4 mt-5 text-center'>
							<div>
								<h4 class='glow text-xl'>Chairman</h4>
								<p class='text-lg'>{exco.chairman}</p>
							</div>
							<div>
								<h4 class='glow text-xl'>Vice Chairman</h4>
								<p class='text-lg'>{exco.viceChair}</p>
							</div>
							<div>
								<h4 class='glow text-xl'>Training Head</h4>
								<p class='text-lg'>{exco.trainingHead}</p>
							</div>
							<div>
								<h4 class='glow text-xl'>Vice Training Head</h4>
								<p class='text-lg'>{exco.viceTrainingHead}</p>
							</div>
						</div>
					</div>
				))
			}
		</div>
	</div>
</BaseLayout>
