---
import BaseLayout from '@layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import logo from '@assets/ec3.jpg';
import '@styles/index.scss';
---

<BaseLayout>
	<div
		class='flex flex-col items-center justify-center min-h-screen pt-8 pb-10 font-mono select-none'
	>
		<main
			class='flex flex-col items-center justify-center w-full flex-1 text-center'
		>
			<!-- <img data-aos='fade-down' src='/favicon.ico' alt='EC3' class='w-1/5' /> -->
			<Image src={logo} alt='EC3' class='w-1/5' data-aos='fade-down' />
			<h1 data-aos='fade-right' class='text-6xl font-bold glow mt-5'>
				HCI EC&sup3;
			</h1>
			<p data-aos='fade-left' class='mt-3 text-2xl main-intro glow'></p>
		</main>
	</div>
</BaseLayout>
