---

---

<footer class='glow text-center p-4 pt-14 mb-4 text-sm'>
	<p>
		&copy; 2021 HCI EC&sup3; & <a
			href='https://canaris.is-a.dev'
			target='_blank'>Canaris</a
		>
	</p>
	<p>Made with Astro</p>
</footer>
