---
const { paginateProps } = Astro.props;

const { nextUrl, prevUrl } = paginateProps;
---

{
	nextUrl && prevUrl && (
		<div class='mt-10 flex justify-between'>
			{prevUrl ? (
				<a href={prevUrl} class='underline'>
					&larr; Previous Page
				</a>
			) : (
				<span />
			)}
			{nextUrl ? (
				<a href={nextUrl} class='underline'>
					Next Page &rarr;
				</a>
			) : (
				<span />
			)}
		</div>
	)
}
